extends master.jade

block content

    .container-fluid 
        .row.py-4 
            .col-md-3 
                .d-flex.flex-column.flex-shrink-0.p-3.bg-light
                    ul.nav.nav-pills.flex-column.mb-auto
                        li
                            a.nav-link.link-dark.active.active-mnu(href="/dashboard") 
                                i.bi.bi-chat.me-2
                                | Chat Board
                            a.nav-link.link-dark(href="/contacts") 
                                i.bi.bi-person-vcard-fill.me-2
                                | Contacts
                            a.nav-link.link-dark(href="/logout") 
                                i.bi.bi-power.me-2
                                | Logout
            .col-md-9 
                .row 
                    .col-sm-4
                        .people-list 
                            .h4 New Users
                            .input-group
                                .input-group-prepend
                                    span.input-group-text
                                        i.bi.bi-search
                                input.form-control(type="text", placeholder="Search...")
                            ul.list-unstyled.chat-list.mt-2.mb-0 
                                if users && users.length > 0
                                    each user in users
                                        li.clearfix.user-item(data-id="#{user._id}")
                                            img(src=user.image, alt="avatar")
                                            div.about
                                                div.name= user.firstName + ' ' + user.lastName 
                                                div.status
                                                    if user.is_online === "0"
                                                        i(id="#{user._id}-status").bi.bi-circle-fill.me-2.offline 
                                                    else 
                                                        i(id="#{user._id}-status").bi.bi-circle-fill.me-2.online 
                    .col-sm-8
                        .chat#chatbox 
                            .chat-history
                                .h4#selected-chat 
                                ul.m-b-0#chat-container
                                    
                            form.form-inline#chat-form
                                .input-group.mb-3
                                    input.form-control.w-70#message(type="text", name="message", placeholder="Enter text here...")
                                    .input-group-append
                                        button.btn.chat-sendbtn(type="submit") 
                                            i.bi.bi-send.me-2
                                            | Send
    


    script. 
        var sender_id = '#{user._id}';
        var receiver_id;
        var socket = io('/user-namespace', {
            auth: {
                token: sender_id
            }
        });
                    
                                    
                                    
                            
                                       
                                    
                                   
